$canvas: 1920px;
$container: 1052px;
$paddingInline: 32px;

:root {
	--bg-1: #292f36;
	--bg-2: #1a1e23;
	--brand-1: #12f7d6;
	--brand-2: #98faec;
	--grey: #43454d;
	--white: #fff;
	--html: #e54f26;
	--css: #0c73b8;
	--js: #e7a020;
	--react: #28a9e0;
	--white: #fff;
	--black: #000;
	--transition: 0.3s;
	--transition-long: 1s;
	--index: calc(1vw + 1vh);
	--font-family: "Ubuntu", sans-serif;
	--second-family: "IBM Plex Mono", sans-serif;
	--128: 128px;
	--64: 64px;
	--32: 32px;
}

@mixin xsm {
	@media (max-width: 424.98px) {
		@content;
	}
}
@mixin sm {
	@media (max-width: 574.98px) {
		@content;
	}
}
@mixin m {
	@media (max-width: 767.98px) {
		@content;
	}
}
@mixin t {
	@media (max-width: 1023.98px) {
		@content;
	}
}
@mixin d {
	@media (max-width: $container) {
		@content;
	}
}
@mixin focus {
	@content;
	&:focus-visible {
		color: #1d2f30;
	}
}
@mixin active {
	@content;
	&:active {
		color: #1d2f30;
	}
}

@mixin container {
	@content;
	max-width: calc($container + $paddingInline * 2);
	margin: 0 auto;
	padding-inline: $paddingInline;
}

@mixin hover {
	&::before {
		@content;
		content: "";
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: var(--brand-1);
		transform: scale(0);
		transition: transform var(--transition);
	}
	&:hover::before {
		@media (any-hover) {
			transform: scale(1);
		}
	}
}

@function vwc($n) {
	@return calc($n / $canvas * 100vw);
}
@function vw($n) {
	@return calc($n / $container * 100vw);
}
@function vwt($n) {
	@return calc($n / 1023.98px * 100vw);
}
@function vwm($n) {
	@return calc($n / 767.98px * 100vw);
}
html {
	scroll-padding-top: 20px;
}
.body {
	position: relative;
	overflow-x: clip;
	min-height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: var(--second-family);
	font-size: 16px;
	// font-size: calc(var(--index) * 1.5);
	font-weight: 400;
	line-height: 1.25;
	color: var(--white);
	background-color: var(--bg-1);
	&.menu-active {
		overflow-y: hidden;
		padding-right: 10px;
	}
}
/* запобігти скачку контента при появі полоси прокрутки
.body { padding: 0 calc(20px - (100vw - 100%)) 0 0; }*/
// [class*="__container"] {
// }

/* Загальний стиль для всіх веб-кіт браузерів */
//::-webkit-scrollbar {
//width: 10px; /* Ширина смужки прокрутки */
//}
//::-webkit-scrollbar-track {
//	background: transparent; /* Колір треку */
//}
//
//::-webkit-scrollbar-thumb {
//	background-color: var(--bg-2); /* Колір смужки прокрутки */
//	border-radius: 10px; /* Округлені краї смужки прокрутки */
//	border: none; /* Простір між смужкою і треком */
//}
//::-webkit-scrollbar-thumb:hover {
//	background-color: var(--bg-2); /* Колір смужки при наведенні */
//}
// для firefox
// .body {
// scrollbar-width: thin; /* Може бути auto, thin або none */
// scrollbar-color: #888 #f1f1f1; /* Колір смужки прокрутки та треку */
// }
// /* Додатковий стиль для окремих частин смужки */
// .scrollbar {
// scrollbar-color: #888 #f1f1f1;
// scrollbar-width: thin;
// }

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}
